*{
    margin: 0 auto;
}
a, a:link, a:hover, a:visited{
    text-decoration: none;
    color: #ffffff;
}

body{
    background-color: #e2e2e2;
}

.divTudo{
font-family: Arial, Helvetica, sans-serif;
}

.divLinha{
    clear: both;
}

.h2TituloSessao{
    font-size: 14px;
    margin: 10px;
}

table, td, th{
    border-bottom: solid 1px #e2e2e2;
    border-collapse: collapse ;
    padding: 7px;
    
}

th{
    color: darkgrey;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}

td{
    font-size: 14px;
    text-align: center;
}

.imgClube{
    width: 20px;
    height: 20px;
}

/* elementos cabeçalho*/
#divCabecalho{
    background-color: #162e58;
    min-height: 100px;
    padding: 20px 50px 10px 50px;
    position: relative;
}

#h1TituloCabecalho{
    color:#ffffff;
    font-size: 16px;
    float:left;
    text-align: left;
    min-width: 50%;
}


/* elementos da tabela de classificação*/

#divClassificacao{
    width: 50%;
    background-color: #ffffff;
}

#tableClassificacao{
    width: 100%;
    text-align: center;
    background-color: #ffffff;
}

#h3TituloGrupo{
    font-size: 14px;
    padding: 5px;

}

.divEmp{
    background-image: url("../img/e.svg");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 5px;
}

.divVit{
    background-image: url("../img/v.svg");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 5px;
}

.divDer{
    background-image: url("../img/d.svg");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 5px;
}

.tdPosicao{
    width: 3%;

}

.tdImgClube{
    width: 5%;
}

.tdNomeClube{
    width: 40%;
    text-align: left;
}

.thNomeClube{
    text-align: left;
}
/* elementos das tabela de goleadores*/

.thUltimas{
    width: 30%;
}
#divGoleadores{
    width: 50%;
    background-color: #ffffff;
}

#tableGoleadores{
    width: 100%;
    background-color: #ffffff
}
#tableGoleadores td{
    padding: 10px;
}
.tdJogador{
   width: 90%; 
   text-align: left;
}
.thJogador{
    text-align: left;
 }
.spanNomeClube{
    color: darkgrey;
    font-size: 12px;
}

/* elementos próximos jogos*/
#divJogos{
    width: 50%;
    background-color: #ffffff;
    padding-bottom: 50px;
}
#tableJogos{
    width: 100%;
    text-align: center;
    background-color: #ffffff;
}

#tableJogos .tdTableJogos{
    padding: 10px 10px 10px 10px;
}

#tableJogos .tableJogo{
    width: 100%;
}

/* estilo da tabela de cada jogo*/

.tableJogo .thTableJogo{
    text-align: left;
}

.tableJogo .tdClube{
    text-align: left;
    width: 80%;
}

.tableJogo .tdHorario{
    text-align: center;
    font-size: 10px;
}


#tableJogos th, #tableJogos td{
    border-bottom: 0px;
   
}